.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #0a192f; */
  background-color: #020001;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7em;
  margin-bottom: 1em;
  opacity: 0.9;
  /* box-shadow: rgba(2, 12, 27, 0.7); */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 3em;
  width: 15em;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link {
  margin: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: #f7f5f8;
  font-size: 1.1em;
  transition: color 0.2s;
  display: flex;
  align-items: center;
}
.link:hover {
  color: #fd891c;
}
.link-active {
  font-weight: 600;
  color: #fd891c;
  font-size: 1.1em;
  transition: all 0.4s;
}

.iconos {
  color: #fd891c;
  font-family: "Roboto Mono", monospace;
  margin: 0.3em;
}
.icono1 {
  color: #fd891c;
  font-family: "Roboto Mono", monospace;
  margin: 0.3em;
  font-size: 1.1em;
}
.icono2 {
  color: #fd891c;
  font-family: "Roboto Mono", monospace;
  margin: 0.3em;
  font-size: 1.3em;
}

.divButton {
  display: flex;
  align-items: center;
  margin: 2.5em;
}
.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0.6em 1em;
  border-radius: 5px;
  color: #fd891c;
  border: solid 1px #fd891c;
  transition: background-color 0.2s;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}
.button:hover {
  background-color: rgba(253, 137, 28, 0.2);
  outline: none;
}
.button:active {
  background-color: rgba(253, 137, 28, 0.2);
  outline: none;
}

@media (max-width: 391px) {
  .container {
    height: 4.8em;
    align-items: flex-end;
  }
  .logo {
    font-size: 8px;
    margin: 0;
    padding: 0;
  }
  .divLogo {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .links {
    font-size: 11px;
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 11px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}
@media (min-width: 391px) and (max-width: 768px) {
  .container {
    height: 4.8em;
    align-items: flex-end;
  }
  .logo {
    font-size: 8px;
    margin: 0;
    padding: 0;
  }
  .divLogo {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .links {
    font-size: 13px;
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 11px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* Estilos para pantallas con ancho entre 768px y 992px */
  .container {
    align-items: flex-end;
  }
  .logo {
    margin: 0;
    padding: 0;
  }
  .divLogo {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .links {
    gap: 4px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .link {
    margin: 0;
    padding: 0;
  }
  .divButton {
    position: absolute;
    top: 16px;
    right: 18px;
    margin: 0px;
  }
  .button {
    margin: 0px;
    padding: 4px 3px;
  }
}

@media (min-width: 992px) {
  /* Estilos para pantallas con ancho mínimo de 992px */
}
